body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef7ff;
}

header {
    background-color: #2196f3;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
}
